/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

/* Styling for the main container */
#main {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* Styling the heading */
h1 {
    font-size: 22px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Input fields */
input[type="number"] {
    width: 100%;
    margin-top: 3px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Labels */
label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

/* Submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
